.banner {
  display: flex;
  flex-direction: row;
  background-color: #0A1551;
  justify-content: space-between;
}

.guardian-box{
  margin-left: 50px;
}

.top-nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  border: 1px red solid;
  margin-right: 50px
  
}

.guardian__heading--yellow {
  color: yellow;
}

.guardian__heading-three--white{
  color:white;
}

.guardian__button--yellow{
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
