@font-face {
  font-family: Libre;
  src: url(/Users/dmac/Desktop/PerScholas/hw/the_guardian_mockup/the_guardian/assets/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

*{
  font-family: Libre;
}
/* .banner-container{
  display: flex;
}

.banner-container > div {
  display: inline-block;
} */
.container .banner {
  display: flex;
}
.banner {
  display: flex;
  flex-direction: row;
  background-color: #0A1551;
  justify-content: space-between;
  font-family: Libre;
  font-size: 18px;
}

.guardian-box{
  margin-left: 50px;
}

.top-nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
/*   border: 1px red solid; */
  /* margin-right: 50px */
  
}

.guardian__heading--yellow {
  color: yellow;
}

.guardian__heading-three--white{
  color:white;
}

.guardian__button--yellow{
  background-color: yellow; /* Green */
  border: none;
  color: black;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: Libre;
  border-radius: 16px;
  margin: 5px;
  border: 1px solid red;
}

.login-picture{
  color: white;
}

.bottom-navbar{
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  border: 1px red solid;
  background-color: #0A1551;
  margin: 0;
  color: white;
  border: 1px solid white;
}

.bottom-list{
  margin: 15px;
  font-size: 20px;
}

.white-navbar{
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  border: 1px gray solid;
}

.white-navbar__list{
  margin: 5px;
}

.left-column{
  display: flex;
  flex-direction: column;
  border: 1px gray solid;
}

.content-container{
  display: flex;
  flex-direction: row;
}

.chumer-text-image{
  display: flex;
  flex-direction: row;
  background-color: red;
  color: white;
  
}

.chumer-text{
  margin: 0px;
}

.smallblock-text{
  margin: 0px;
}

.senate-text{
  margin: 0px;
}

.harvey-container--list{
  margin: 0;
  font-size: 20px;
}